.customer-profile{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);  
}

.customer-profile ul{
    list-style: none;
 

}
.customer-profile li{
    padding: 1rem 2rem;
    width: 100%;
    background-color: rgba(0, 128, 128, 0.082);
    margin-bottom: 1rem;
    display: flex;
    
}
.customer-profile li div{
    padding: 0rem 3rem;
    margin:0;
    flex: 1;
}
