.profile {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
}
.profile-left {
  flex: 1;
  height: 100%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  background-color: rgb(30,144,255);
  margin: 1rem;
}
.profile-left h5{
    margin: 1rem 0;
    text-align: center;
    color: white;  
    font-weight: 400;
}
.profile-menu{
    font: inherit;
    border: 1px solid rgb(30, 144, 255);;
    background: transparent;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);   
    font-weight: 400;
    text-decoration: none;
    display: block;
}
.profile-menu:hover,
.profile-menu:active {
  background: rgb(30, 101, 255);
  border-color:rgb(30, 101, 255);
  transition: 0.3s ease all;
}

.profile-menu:focus {
  outline: none;
}
.profile-right {
  flex: 3;
  height: 100%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  overflow-y: scroll;
 
}

.profile-image {
  width: 5rem;
  height: 5rem;
  background-color: wheat;
  margin: 0 auto;
  margin-top: 2rem;
}
.profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
